<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tattoo</title>
    <link rel="stylesheet" href="/public/styles/style.css">
</head>

<body>
    <section class="main container">
        <div class="main-left">
            <div class="text-bg">
                <h1 class="main-white">STUDIO</h1>
                <h1 class="main-red">MAVRINA</h1>
            </div>
            <h3>УДАЛЕНИЕ ТАТУИРОВОК</h3>
            <p class="main-text">
                Делаем быстрое и безболезненное удаление татуировок и татуажа<br>
                <b>всего от 15.000 тенге</b>
            </p>
            <button class="main-button">
                ЗАПИСАТЬСЯ
            </button>
        </div>
        <div class="main-right">
            <div class="main-circle"></div>
            <img src="/public/img/main-people.png" alt="">
        </div>
    </section>


    <script src="/public/scripts/script.js"></script>
</body>

</html>